@import "../variables";

.Tabs
{
    @include flexContainer();
    background-color: transparent;
    width: 90vw;
    max-width: 700px;
    margin: 80px auto 20px;

    .__Tab
    {
        color:$tab-color;
        text-transform: uppercase;
        position:relative;
        cursor: pointer;

        &::after
        {
            content: "";
            position: absolute;
            background-color:$tab-color;   
            pointer-events: none;         
            width: 0%;
            height: $bar;
            bottom: 0;
            left: 0;
            transition: width 0.2s ease;
            
        }

    }

    h3
    {
        font-size: 1.4rem;
        line-height: 1.6rem; 
        font-family: 'Roboto Condensed', sans-serif;     
        
    }

    
    .__Separator           
    {
        
        width: $bar;
        height: 38px; 
        background-color: $tab-color;
    }
    

    @media screen and (max-width:630px)
    {
         flex-direction: column;
         align-items: flex-start;

        .__Tab
        {
            margin-top: 10px;
        }

        .__Separator           
        {
            display: none;
        }    
    }

    

}

.__Tab:hover::after,.__Tab.active::after
{
    width: 100%;
}