
.container{
    margin-top: 70px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.week-counter{
    color: #c4c4c4;
    display: flex;
    font-family: 'Roboto Condensed';
    margin-bottom: 20px;
    &.display{
        font-size: x-large;
        margin: 5px 10px 0 10px;
    }
}
.daily-schedule{
    display: flex;
    flex-direction: row;
    
    &.flow{
        background: #c4c4c4;
        width: 60vw;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;

          }
        &.scroll{
            align-items: center;
            width: fit-content;
            padding: 0 5px 0 5px;
            background: #000;
            box-shadow: 0.5px 0.5px #c4c4c4;
        }
    }
    &.date {
        background: blue;
        text-align: center;
        width: 10vw;
        display: flow-root;
        padding: 10px 20px 10px 20px;
        &.day{
        color: #fff;
        font-family: 'Roboto Condensed';
        font-size: xxx-large;
        }
        &.other{
            color: #fff;
            font-family: 'Roboto Condensed';
            font-size: x-large;
            margin-left: -20px;
        }
    }
    &.event{
        border-left: 2px solid #EC4E20;
        padding: 10px;
        font-family: Roboto Condensed;
        font-size: 20px;   
        justify-content: center;
        align-items: center;
    }
    &.time{
        color: #000;
        display: flow-root;
    }
    &.name{
        color: #EC4E20;
    }
    
}

#schedule{
    margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .container{
        margin-top: 50px;
    }
}