
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.Forms
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	width: 90vw;
    margin: 30px auto;

}

.bg{
	background: #000000;
}

.Forms h1 {
	font-weight: bold;
	margin: 0;
}

.Forms h2 {
	text-align: center;
}

.Forms p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.Forms span {
	font-size: 12px;
}

.Forms a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.Forms button {
	border-radius: 20px;
	border: 1px solid #457FFF;
	background-color: #457FFF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.Forms button:active {
	transform: scale(0.95);
}

.Forms button:focus {
	outline: none;
}

.Forms button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.Forms form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.Forms input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
	min-height: 480px;
	display: flex;
	margin-top: 80px;
}




.formContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.signInContainer {
	left: 0;
	width: 50%;
	z-index: 1;
}

.container.RightPanelActive .signInContainer  {
	transform: translateX(100%);
}

.signUpContainer {
	right: 0;
	width: 50%;
	z-index: 1;
}

.container.RightPanelActive .signUpContainer {
	transform: translateX(100%);
	opacity: 1;
	z-index: 1;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 1;
	}
}

.overlayContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 1;
}

.overlayContainer2 {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlayContainer{
	transform: translateX(-100%);
}

.overlay {
	background: #457FFF;
	background: -webkit-linear-gradient(to right, #457FFF, #457FFF);
	background: linear-gradient(to right, #457FFF, #457FFF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.rightPanelActive .overlay {
  	transform: translateX(50%);
}

.overlayPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlayLeft {
	transform: translateX(100%);
}

.container.rightPanelActive .overlayLeft {
	transform: translateX(0);
}

.overlayRight {
	right: 0;
	transform: translateX(0);
}

.container.rightPanelActive .overlayRight {
	transform: translateX(20%);
}

.socialContainer {
	margin: 20px 0;
}

.socialContainer a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.hiddenLarge
{
	display: none;
}

@media screen and (max-width:800px)
{

		.container
		{
			min-height: 110vh;
			margin-top: 34px ;
		}

		.formContainer
		{
			width: 100%;
		}

		.overlayContainer
		{
			display: none;
		}

		.hiddenLarge
		{
			display: block;
			margin-top: -90px;
			text-align: center;
		}

		.hiddenLarge p
		{
			margin-bottom: 5px;
			font-size: 12px;
		}

		.hiddenLarge button
		{
			padding: 6px 20px;
		}
}

@media screen and (max-width:699px)
{
	.Forms
	{
		transform: translateY(20px);
	}
}

@media screen and (max-width:540px)
{
	
	.Forms form
	{
		padding: 0 16px;
	}


}

