body {
    background-image: url("../../assets/img/fifa.png");
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Trebuchet MS;
}


.aboutMessage {
    margin: 80px;
    color: white;
}

.aboutGrid { 
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridElement {
    margin: 30px;
    font-size: larger;
    font-style: bold;
    text-align: center;
}

.dropUp {
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: auto;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.fontStyle {
    font-size: 30px;
    margin-left: 10px;
}

.fontStyle, .text {
    display: inline;
}

.text {
    margin-left: 5%;
}

.content{
    margin-left: 5%;
}

.footer{
    background-color: black;
}