body {
    height: 100%;
    color: white;
    font-family: Trebuchet MS;
    background-color: rgb(0,0,0); /* Fallback color */
}
// .bg-image{
//     background-image: url("../../assets/img/fifa.png");
//     filter: blur(8px);
//     -webkit-filter: blur(8px);
//     height: 100%;
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.aboutPage{
    background-color: rgb(0,0,0); /* Fallback color */
    background-image: url("../../assets/img/fifablurred.jpg");
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}


.aboutMessage {
    margin: 0 80px;
    color: white;
}

.aboutGrid { 
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
}

.gridElement {
    margin: 30px 30px 30px 30px;
    font-size: larger;
    font-style: bold;
    text-align: center;
}

.dropUp {
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: auto;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.fontStyle {
    font-size: 30px;
    margin-left: 10px;
}

.fontStyle, .text {
    display: inline;
}

.text {
    margin-left: 5%;
}

.content{
    margin-left: 5%;
}

.footer{
    background-color: black;
}

.grid1{
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
.grid2{
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
.grid3{
    margin-left: auto;
    margin-right: auto;
    display: grid;
}