.navbar {
    display: inline-block;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-image {
    max-width:100%;
    height:auto;
}
#nav-links{
    color: #fff;
    padding-top: 2%;
    text-decoration: none;
    font-family: Trebuchet MS;
}
#nav-links:hover{
    border-bottom: #EC4E20;
    border-bottom-style: solid;
}
#nav-button{
    margin-top: 1.4%;
    background-color: #457FFF;
    text-decoration: none;
    border-radius: 5px;
    font-family: Trebuchet MS;
    margin-right: 32px;
    margin-left: 16px;
}

#sidebar-button{
    background-color: #457FFF;
    text-decoration: none;
    border-radius: 5px;
    font-family: Trebuchet MS;
    text-align: center;
}

#sidebar-nav-links{
    color: #fff;
    text-decoration: none;
    font-family: Trebuchet MS;
    text-align: center;
}

.hidden-sidebar{
    
}