.footer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    overflow: hidden;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
}