.Footer
{
    //remove when connected to internet
    background: #000;
    color:#fff

}

.FooterFlex
{
    display: flex;
    padding: 10px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.FooterCentered
{
    text-align: center;
   padding: 12px 0;
}

.Logo
{
    height: 100px;
    max-width: 100px;
    margin: auto;
}

.Logo img
{
   object-fit: contain;
   height: 100%;
   width: 100%;

}