.midsection{
    display: flex;
    flex-direction: row;
}

.newsfeed{
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

.feed-content{
    text-align: left;
    position: relative;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
        // background: rgba(0,0,0,0.356);
    }
}

.feed-header{
    position: absolute;
    bottom: 0;
    font-family: 'Post No Bills Colombo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;  
    color: #457FFF;
    padding: 40px 20px 40px 20px;
    background: rgba(0, 0, 0, 0.6);
    
}

.feed-preamble{
    font-family: 'Roboto Condensed';
    line-height: 21px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 18px;
}