@import "../../../variables";

.Event
{
    @include flexContainer;  
    justify-content: space-between;
    background-color: $grey-bg;
    padding: 10px 5%;
    font-family: "Roboto Condensed";
    margin-top: 15px;


    .Title
    {
        color:#000;
        font-size: 1.6rem;
        max-width: 70%;
        word-wrap: break-word;
    }

    p
    {
        color: $red;
        margin: 0;
        font-size: 1.2rem;
    }

    a
    {
        background-color: $blue-btn;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
    }
}